input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
}

#table {
  border: 2px solid red;
}

.line {
  border: 2px solid green;
  display: flex;
  flex-direction: row;


  :first-child {
    width: 150px;
    border: none;
  }

  p, input {
    width: 120px;
    border-left: 1px solid grey;
  }

  select {
    width: 125px;
    height: 50px;
    text-align: center;
  }

  .malus {
    width: 125px;
    color: red;
    border: none;
  }

  input {
    text-align: center;
    border: none;
    &:focus {
      outline: none;
    }
    border-left: 1px solid grey;
  }
}

.results {
  font-size: 1.2rem;
  font-weight: bold;
}